In [1]:
from pandas import *
from os import listdir, getcwd
from os.path import join
from json import loads
from nltk import *
from nltk import download
from nltk.corpus import stopwords
from datetime import date, datetime
import pickle
from re import *
download('stopwords')
download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Tim\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Tim\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df_scores = read_csv('tim_scores.csv')[['word', 'score']]

In [3]:
STOP_WORDS = stopwords.words('english')

percentile = df_scores[abs(df_scores['score'] < .8)]['score'].quantile([.25, .5, .75, 1])

final_df = DataFrame(columns=['id', 1, 2, 3, 4])

In [4]:
def append_final(df1):
    global final_df
    for index in range(len(df1)):
        try:
            q1 = []
            q2 = []
            q3 = []
            q4 = []
            total_match_count = 0

            df_row = df1.iloc[index]

            cleaned_text = ' '.join([x for x in sub('(\\|&)', ' ', sub("(,|;|!|@|#|\?|\*)", '', df_row['body'].lower())).split(' ') if x.strip('.') not in STOP_WORDS])

            text = ' '.join([x for x in cleaned_text.split('.')])

            for phrase, score in df_scores.values:
                if isinstance(phrase, str) and phrase in text and (isinstance(score, float) or isinstance(score, int)):
                    cnt = text.count(phrase)

                    if score <= percentile[.25]:
                        q1.extend([(phrase, score)] * cnt)
                    elif score <= percentile[.5]:
                        q2.extend([(phrase, score)] * cnt)
                    elif score <= percentile[.75]:
                        q3.extend([(phrase, score)] * cnt)
                    else:
                        q4.extend([(phrase, score)] * cnt)

                    total_match_count += cnt

            final_df = final_df.append({'id': df1.iloc[index]['id'], 1: len(q1) / total_match_count, 2: len(q2) / total_match_count, 3: len(q3) / total_match_count, 4: len(q4) / total_match_count, 'earnings_word_count': df1.iloc[index]['earnings_word_count'], 'quarter': df1.iloc[index]['quarter']}, ignore_index=True)
        except: print('Failed to load a earning report')
            
    return final_df

In [5]:
dir_ = 'resources/competition_test_dataset/'
comp_files = [x for x in listdir(dir_) if '.json' in x]

WORD_THRESHOLD = 20
DATAFRAME_COLUMNS = ['id', 'datetime', 'date', 'year', 'quarter', 'body', 'earnings_word_count']

df_all = DataFrame(columns=DATAFRAME_COLUMNS)

def cut_word_threshold(lst, threshold):
    return [x for x in lst if len(x.split()) >= threshold]

for file in comp_files:
    try:
        input_df = read_json(dir_ + file)[['date', 'body']]
        input_df.reset_index(inplace=True)
        input_df.columns = ['id', 'datetime', 'body']

        # Convert to datetime.date
        input_df['date'] = input_df['datetime'].apply(lambda x: x.date())
        # Convert to datetime.date
        input_df['date'] = input_df['date'].apply(lambda x: date(*[int(y) for y in str(x).split('-')]))

        input_df['year'] = input_df['date'].apply(lambda x: x.year)
        input_df['quarter'] = input_df['date'].apply(lambda x: 1 if x.month <= 3 else 2 if x.month <= 6 else 3 if x.month <= 9 else 4)

        input_df['paragraphs'] = input_df['body'].apply(lambda lst: cut_word_threshold(lst, WORD_THRESHOLD))
        input_df['body'] = input_df['paragraphs'].apply(lambda lst: ' '.join(lst))

        input_df['earnings_word_count'] = input_df['body'].apply(lambda x: len(x.split()))

        input_df = input_df[DATAFRAME_COLUMNS]

        append_final(input_df)
    except: print('Failed to load', file)

In [6]:
final_df['id'] = final_df['id'].apply(lambda x: int(x))
final_df['earnings_word_count'] = final_df['earnings_word_count'].apply(lambda x: int(x))
final_df['Q1'] = final_df['quarter'].apply(lambda x: 1 if x == 1 else 0)
final_df['Q2'] = final_df['quarter'].apply(lambda x: 1 if x == 2 else 0)
final_df['Q3'] = final_df['quarter'].apply(lambda x: 1 if x == 3 else 0)
final_df['Q4'] = final_df['quarter'].apply(lambda x: 1 if x == 4 else 0)
final_df = final_df[['id', 1, 2, 3, 4, 'earnings_word_count', 'Q1', 'Q2', 'Q3', 'Q4']]
final_df.columns = ['id', 'level 1', 'level 2', 'level 3', 'level 4', 'word_count', 'Q1', 'Q2', 'Q3', 'Q4']

In [7]:
final_df

      id   level 1   level 2   level 3   level 4  word_count  Q1  Q2  Q3  Q4
0   1299  0.405840  0.114081  0.175204  0.304875       11024   0   0   1   0
1   1300  0.411901  0.133891  0.163877  0.290330       11946   1   0   0   0
2   1301  0.392867  0.132937  0.179411  0.294785        9642   0   1   0   0
3   1303  0.404466  0.132200  0.148186  0.315148       11476   0   0   0   1
4   1306  0.407861  0.131189  0.149566  0.311383       10987   0   0   1   0
5   1307  0.399259  0.136543  0.158025  0.306173       12088   0   0   0   1
6   1308  0.413859  0.141723  0.139076  0.305342       12694   1   0   0   0
7   1309  0.414898  0.116490  0.148320  0.320292       13858   0   1   0   0
8   1310  0.415777  0.125749  0.142671  0.315803       11569   0   0   1   0
9   1311  0.410593  0.130643  0.150063  0.308701       11897   0   0   0   1
10  1449  0.405572  0.128851  0.166890  0.298687       10725   1   0   0   0
11  1450  0.407397  0.131437  0.156757  0.304410        9227   0   1   0   0
12  1451  0.399291  0.121040  0.154137  0.325532       11462   0   0   1   0
13  1452  0.409888  0.131237  0.154477  0.304397       12042   0   0   0   1
14  1453  0.396810  0.129017  0.158058  0.316115       11662   1   0   0   0
15  1454  0.414576  0.118079  0.153810  0.313535       11954   0   1   0   0
16  1455  0.421269  0.117983  0.164309  0.296440       11584   0   0   1   0
17  1456  0.396110  0.128375  0.154462  0.321053       12230   0   0   0   1
18  1457  0.402387  0.124347  0.156429  0.316837       11757   1   0   0   0
19   287  0.382379  0.151587  0.126965  0.339069        8832   1   0   0   0
20   288  0.396664  0.131294  0.145196  0.326846        8525   0   1   0   0
21   289  0.420386  0.134435  0.134711  0.310468        9224   0   0   1   0
22   449  0.403101  0.128461  0.135382  0.333056        8792   0   0   0   1
23   451  0.416921  0.121739  0.153937  0.307403       10609   0   1   0   0
24   609  0.422443  0.104818  0.155537  0.317202       11523   0   0   0   1
25   610  0.410483  0.099529  0.161661  0.328327        8880   1   0   0   0
26   611  0.420065  0.119390  0.145497  0.315048        9825   0   1   0   0
27   612  0.413802  0.124838  0.171362  0.289997       11052   0   0   1   0
28   613  0.396910  0.125377  0.161073  0.316640       15674   0   0   0   1
29   614  0.395468  0.135478  0.156433  0.312622       11621   1   0   0   0
30   615  0.413949  0.125675  0.164327  0.296048       12242   0   1   0   0
31   617  0.412208  0.113835  0.166863  0.307094       11735   0   0   0   1
32   618  0.396096  0.125603  0.165557  0.312744       12779   1   0   0   0
33   619  0.385740  0.135178  0.152946  0.326136       12698   0   1   0   0
34   620  0.402481  0.117980  0.167175  0.312364       12418   0   0   1   0
35   621  0.382033  0.129991  0.159256  0.328721       12037   0   0   0   1
36   622  0.392132  0.142212  0.154789  0.310867        8096   1   0   0   0
37   707  0.389682  0.124745  0.174876  0.310697        8213   1   0   0   0
38   708  0.391696  0.120759  0.169158  0.318387       11698   0   0   0   1
39   709  0.396439  0.124414  0.156748  0.322399       11015   0   0   1   0
40   710  0.408392  0.128951  0.148811  0.313846        9510   0   1   0   0
41   731  0.422670  0.134743  0.142611  0.299975        9957   0   1   0   0
42   732  0.421769  0.134111  0.142371  0.301749        8543   1   0   0   0
43   804  0.409710  0.127200  0.128052  0.335037        9397   0   0   0   1
44   805  0.399682  0.158495  0.121389  0.320435        9217   1   0   0   0
45   806  0.412157  0.132231  0.151693  0.303919        9621   0   1   0   0
46   807  0.399038  0.132212  0.147436  0.321314        8690   0   0   1   0
47   808  0.394941  0.138616  0.146877  0.319566        8855   0   0   0   1
48   500  0.390389  0.134678  0.154554  0.320380        8465   0   0   0   1
49   509  0.365517  0.135484  0.162180  0.336819       10852   0   0   0   1
50   679  0.408127  0.121679  0.165885  0.304309       11359   0   0   0   1

In [8]:
final_df.to_csv(dir_ + 'model_input.csv', index=False)